<h1> Marketplace </h1>

<%= "#{@collaborator.company.name} - www.#{@collaborator.company.domain}" %>

<% if @collaborator.inactive? %>
    <%= link_to 'Completar informações', edit_collaborator_registration_path(@collaborator) %>
<% end %>

<% if @collaborator.active? %>
    <%= link_to 'Anunciar', new_product_path %>
<% end %>

<%= form_with url: home_search_path, method: :get, local: true do |f| %>
    <%= f.label :product_search %>
    <%= f.text_field :product_search %>
    <%= f.submit 'Pesquisar' %>
<% end %>

<h2> Produtos à venda </h2>
<% if @products.any? %>
    <% @products.each do |product| %>
        <%= link_to product.name, product %>
        <%= number_to_currency product.value %>
        <% if current_collaborator != product.collaborator %>
            <%= link_to 'Comprar', orders_path(product_id: product),method: :post %>
        <% end %>
    <% end %>
<% else %>
    Nenhum produto disponível
<% end %>


<% if @categories.any? %>
    <h2> Encontre por categoria </h2>
    <% @categories.each do |category| %>
        <%= category.name %>
    <% end %>
<% end %>