<h1> Marketplace </h1>

<%= "#{@collaborator.company.name} - www.#{@collaborator.company.domain}" %>

<% if @collaborator.inactive? %>
    <%= link_to 'Completar informações', edit_collaborator_registration_path(@collaborator) %>
<% end %>

<% if @collaborator.active? %>
    <%= link_to 'Anunciar', new_product_path %>
<% end %>


<% if @products.any? %>
    <h2> Produtos à venda </h2>
    <% @products.each do |product| %>
        <%= product.name %>
        <%= number_to_currency product.value %>
        <%= link_to 'Comprar' %>
    <% end %>
<% else %>
    Nenhum produto disponível
<% end %>


<% if @categories.any? %>
    <h2> Encontre por categoria </h2>
    <% @categories.each do |category| %>
        <%= category.name %>
    <% end %>
<% end %>