<% if @order.present? %>
    <div class = 'm-4'>
        <h2> <%= "Pedido ##{@order.id} - #{@order.product.name}" %> </h2>
        <div class = 'd-flex justify-content-between'>
            <div class='w-50'>
                <%= link_to "Vendido por: #{@order.product.collaborator.name} - #{@order.product.collaborator.department}", collaborator_path(@order.product.collaborator)  %> <br>
                <%= "Status: #{@order.status}"%> <br>
                <%= "Categoria: #{@order.product.category.name} "%> <br>
                <p class = 'text-wrap' style='word-wrap: break-word'>
                    <%= @order.product.description %>
                </p>
                <div class= 'd-flex justify-content-center align-items-center'>
                    <h2 class = 'mr-2'>
                        <%= number_to_currency @order.value %>
                    </h2>
                    <% if @order.product.collaborator == current_collaborator && @order.negotiation? %>
                        <%= link_to 'Concluir venda', orders_completed_path(id: @order), class: 'btn btn-success mr-2' %>
                        <%= link_to 'Cancelar venda', order_path(order: {id: @order, status: 'canceled'}), class: 'btn btn-danger mr-2', method: :put %>
                    <% end %>
                </div>
            </div>
            <div class = 'w-50'>
                <% if @order.product.images_urls.any? %>
                    <%  @order.product.images_urls.each do |image_url| %>
                        <%= image_tag(image_url, :size => "200x200") %>
                    <% end %>
                <% else %>
                    <%= image_tag('default_product.png', :size => "200x200") %>
                <% end %>
            </div>
        </div>

        <div>
            <h3 class='my-3'> Mensagens </h3>
            <%  @order.order_messages.each do |message| %>
                <div class='my-1'>
                    <h5> <%= "#{message.collaborator.name} - #{message.collaborator_type}" %> </h5>
                    <h6> <%= message.collaborator.department %> </h6> 
                    <p class = 'text-wrap' style='word-wrap: break-word'> <%= message.text %> </p>
                </div>
            <% end %>
        </div>
        
        <div>
            <h3 class='my-3'> Nova Mensagem </h3>
            <%= form_with model: OrderMessage.new, local: true do |f| %>
                <%= f.text_area :text, class: 'form-control', rows: 4 , style: 'max-width: 1200px'%>
                <%= f.hidden_field :order_id, value: @order.id %>
                <%= f.submit 'Enviar', class: 'btn btn-outline-primary mt-2' %>
            <% end %>
        </div>
    </div>
<% end %>
